# .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
appsettings.*.json
!appsettings.json

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Build artifacts
publish/
deploy.zip

# Env
.env
.env.*
